<div class="flex justify-center items-center my-10">
    <div class="carousel content-center rounded-box w-2/3 md:w-1/2 transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none">
        <div id="slide1" class="carousel-item relative w-full">
          <img src="/projects/Apple Fruit Picker/animation-video.gif" class="w-full" />
          <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide3" class="btn btn-circle">❮</a> 
            <a href="#slide2" class="btn btn-circle">❯</a>
          </div>
        </div> 
        <div id="slide2" class="carousel-item relative w-full">
          <img src="/projects/Apple Fruit Picker/blender-isometric.jpg" class="w-full" />
          <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle">❮</a> 
            <a href="#slide3" class="btn btn-circle">❯</a>
          </div>
        </div> 
        <div id="slide3" class="carousel-item relative w-full">
          <img src="/projects/Apple Fruit Picker/workspace-layout.png" class="w-full" />
          <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide2" class="btn btn-circle">❮</a> 
            <a href="#slide1" class="btn btn-circle">❯</a>
          </div>
        </div> 
      </div>
</div>