---
import TopNavbarlayout from "../../layouts/TopNavbarlayout.astro";
import TopNavBar from "../../components/TopN.astro";
---
<TopNavbarlayout title = "Apple Fruit Picker Robot">
    <div>
        <div class="text-3xl w-full font-bold mb-5 justify - between">Apple Fruit Picker Robot</div>
    </div>
    <p align = justify-between>
        Apple s
    </p>
</TopNavbarlayout>