---
import TopNavbarlayout from "../../layouts/TopNavbarlayout.astro";
---
<TopNavbarlayout title = "Apple Fruit Picker Robot" >
    
</TopNavbarlayout>

<p class="mb-10 text-justify items-left text-xm mt-10" >
    A Robotics Masters student at RWTH Aachen University with previous research experience in the field of Robotics and Machine Learning. Fluent in 
    Python and MATLAB programming. Worked with Neural Networks, MuJoCo simulation engine, SolidWorks and Simulink in the past. 
    <br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!--Engineer in Informatics Science with 6 years + of experience in software development. Dominion of various programming
    languages, frameworks, CMS and graphics engines. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites, logos and other ones. -->
    </p>